.navbar-brand {
    color: whitesmoke !important;
    font-weight: 900;
    text-decoration: none;
}
.navbar-brand:hover {
    color: cadetblue !important;
}
#headingOne {
    background-image: url(https://i.postimg.cc/5NDx9fBZ/Matrix.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}
span {
    color: whitesmoke;
    font-weight: 500;
}
h1 {
    color: whitesmoke;
}
h4 {
    color: whitesmoke;
    text-align: center;
    font-family: "Trirong", serif;
    font-weight: bolder;
}
#navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}
.profile {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

.profile {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: translate(20px, 20px);
}

.profile {
    font-size: 24px;
    font-weight: bold;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.welcome {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 10rem;
}

.welcome {
    transition: transform 0.3s ease;
}

.welcome:hover {
    transform: translate(20px, 20px);
}

.welcome {
    font-size: 24px;
    font-weight: bold;
}
.button {
    border-radius: 25%;
    text-align: center;
    color: gray;
    color: crimson;
}
.card:hover {
    transform: translateX(-20px);
    transform: rotateY(20);
}
.container {
    margin-top: 50px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
} 
p {
    font-weight: 400;
}
#images {
    width: 400px;
    height: 400px;
}
.progress {
    margin-top: 5rem;
}
#skills {
    font-weight: 400;
}
@media only screen and (max-width: 750px) {
    #headingOne {
        background-color: green;
        transform: scale(15px);
    }
}
@media only screen and (max-width: 350px) {
    #headingOne {
        background-color: green;
    }
}
@keyframes movement {
    0%{
        transform: translateX(50px);
       }
       100%{
           transform: translateX(50px);
           transform: scaleX(1);
       }
}
.welcome {
    animation-name: movement;
    animation-duration: 10s;
    animation-delay: 1s;
    position: relative;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
#ScrollBTN {
    text-align: center;
    color: whitesmoke;
}