.navbar-brand {
    color: whitesmoke !important;
    font-weight: 900;
    text-decoration: none;
}
.navbar-brand:hover {
    color: cadetblue !important;
}
#headingOne {
    background-image: url(https://i.postimg.cc/5NDx9fBZ/Matrix.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed;
}
span {
    color: whitesmoke;
    font-weight: 500;
}
h1 {
    color: whitesmoke;
}
h4 {
    color: whitesmoke;
    text-align: center;
    font-family: "Trirong", serif;
    font-weight: bolder;
}
#navbar {
    position: sticky;
    top: 0px;
}
.profile {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile {
    border-radius: 50%;
    width: 60%;
    height: 60%;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: translate(20px, 20px);
}

.profile {
    font-size: 24px;
    font-weight: bold;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.welcome {
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: 10rem;
}

.welcome {
    transition: transform 0.3s ease;
}

.welcome:hover {
    transform: translate(20px, 20px);
}

.welcome {
    font-size: 24px;
    font-weight: bold;
}
.button {
    border-radius: 25%;
    text-align: center;
    color: gray;
    color: crimson;
}
.card:hover {
    transform: translateX(-20px);
    transform: rotateY(20);
}
.vh-100 {
}